.toolbar{
    color: salmon;
    background: rgba(40, 60, 50, 0.5);
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background: url('../../assets/images/COVER_IMAGE560977350.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}